<!--a seperate field for today's weather-->
<aside>
  <div id="aside-text">
<h3 style="margin-top: -70px; margin-bottom: -30px;">Today's Forecast</h3>

<form action="" method="post" style="margin-top: 35px; margin-left: 270px; margin-bottom: -10px;">
  <select id="units" name="units" value="imperial" style="border-radius:36px;
  overflow:hidden;">
    <option value="imperial">Fahrenheit</option>
    <option value="metric">Celsius</option>
  </select>
  <input type="submit" value="Select Units" style="background-color: #DC143C; color:white; cursor: pointer; border: none; font-size: 14px; font-weight: bold;"/>
</form>

    {{#each locs}}
      <h4 id="weatherTitle"> {{this.place}} </h4>
      <p> Current: {{this.current.currently}}</p>
      <p> Description: {{this.current.description}}</p>
      <p> Feels like: {{this.current.feelsLike}}</p>
      <p> High: {{this.current.max}}</p>
      <p> Low: {{this.current.min}}</p>
      <p> Pressure: {{this.current.pressure}}</p>
      <p> Humidity: {{this.current.humid}}</p>
      <p> Visibility: {{this.current.visib}}</p>
      <p> Wind speed: {{this.current.wind}}</p>
    {{/each}}

    <div class="icons">
      <i class='fas fa-cloud-rain'></i>
      <i class='fas fa-cloud-sun'></i>
      <i class='fas fa-cloud-sun-rain'></i>
      <i class='fas fa-cloud-moon-rain'></i>
      <i class='fas fa-sun'></i>
      <i class='fas fa-snowflake'></i>
    </div>
  </div>
</aside>
